footer{
    background-color: #181818;
    padding-top: 107px;
    padding-bottom: 107px;
}

.footer-context{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer-menu__item{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.footer-menu li{
    margin-top: 19px;
}

.footer-menu{
    margin-top: 40px;
}

.footer_item1{
    display: flex;
    align-items: center;
    gap: 95px;
}

.footer-context__item2{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.footer-context__item2_context{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}